html{
  background-color: #08070B;
}

#frame1{
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

#nav-bar{
  width: 1350px;
  height: 74px;
  left: 0px;
  top: 0px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  color: #568B9E;
}

li {
  float: right;
  display: inline;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

#dg{
  float: left;
  position: absolute;
  font-family: 'Meera Inimai';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 25px;
  text-align: center;
  background: linear-gradient(177.15deg, #3A53DF 25.52%, #2BB8B0 97.63%);
  -webkit-background-clip: text;
  background-clip: text;
  margin-left: 5px;
}

#home{
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #6A6363;
}

#sobre{
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #6A6363;
}

#portfolio{
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #6A6363;
  
}

#menu{
  font-family: 'Exo';
  font-style: normal;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  background: linear-gradient(177.15deg, #3A53DF 25.52%, #2BB8B0 97.63%);
  -webkit-background-clip: text;
  background-clip: text;
  margin-left: 38%;
  color: #36b2df;
}

#principal{
  position: absolute;
  width: auto;
  height: auto;
  top: 46px;
  left: 25px;
}

h1{
  position: absolute;
  width: 620px;
  height: 67px;
  left: 326px;
  top: 126px;
  font-family: 'Kanit', ;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  line-height: 84px;
  background: linear-gradient(90.63deg, #556CE3 -2.54%, #508BC2 50.22%, #4393B5 110.13%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#p1{
  position: absolute;
  width: 447px;
  height: 27px;
  left: 330px;
  top: 226px;

  font-family:'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  text-align: center;

  color: #ffffff;
}

#p2{
  position: absolute;
  width: 631px;
  height: 27px;
  left: 343px;
  top: 251px;

  font-family:'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  text-align: center;

  color: #6896A3;
}

#character{
  position: absolute;
  width: 227px;
  height: 207px;
  left: 1018px;
  top: 149px;
}

#rectangle{
  position: absolute;
  width: 222px;
  height: 10px;
  left: 1020px;
  top: 341px;

  background: #D9D9D9;
  border-radius: 50px;
  }

#instagram{
  position: absolute;
  width: 109px;
  height: 30px;
  left: 320px;
  top: 534px;
}

#linkedin{
  position: absolute;
  width: 109px;
  height: 30px;
  left: 728px;
  top: 534px;
}

#github{
  position: absolute;
  width: 109px;
  height: 30px;
  left: 522px;
  top: 534px;
}

#whatsapp{
  position: absolute;
  width: 109px;
  height: 30px;
  left: 919px;
  top: 534px;
}

a:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(32, 32, 32);
  border-radius: 10px;
  height: 35px;
}

#whatsapp:hover{
  color: #22E15A;
}

#whatsapp:hover{
  color: #22E15A;
}

#instagram:hover{
  color: #FC3793;
}

#github:hover{
  color: #689494;
}

#linkedin:hover{
  color: #2965AF;
}

footer{
  position: absolute;
  left: -36px;
  top: 3px;
}

i{
  background: #08070B;
  border-radius: 10px;
}

@media  screen and (max-width: 375px){
  #frame1{
    box-sizing: border-box;
    position: absolute;
    width: 375px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #08070B;
  }

  #nav-bar{
    width: 375px;
    height: 74px;
    left: 0px;
    top: 0px; 
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    left: 0px;
    top: 0px;
  }
  
  a {
    color: #568B9E;
  }
  
  li {
    float: right;
    display: inline;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  #dg{
    float: left;
    position: absolute;
    font-family: 'Meera Inimai';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 25px;
    text-align: center;
    background: linear-gradient(177.15deg, #3A53DF 25.52%, #2BB8B0 97.63%);
    -webkit-background-clip: text;
    background-clip: text;
    margin-left: 5px;
    left: -3px;
    top: 10px;
  }
  
  #home{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 32px;
    text-align: center;
    color: #6A6363;
    position: absolute;
    left: 0px;
    top: 58px;
  }
  
  #sobre{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 32px;
    text-align: center;
    color: #6A6363;
    position: absolute;
    top: 58px;
    left: 140px;
  }
  
  #portfolio{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 32px;
    text-align: center;
    color: #6A6363;
    position: absolute;
    top: 58px;
    left: 275px;
  }
  
  #menu{
    font-family: 'Exo';
    font-style: normal;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    background: linear-gradient(177.15deg, #3A53DF 25.52%, #2BB8B0 97.63%);
    -webkit-background-clip: text;
    background-clip: text;
    margin-left: 38%;
    color: #36b2df;
    position: absolute;
    top: 0px;
    left: 173px;
  }
  
  h1{
    position: absolute;
    width: 193px;
    height: 67px;
    left: 23px;
    top: 95px;
    font-family: 'Kanit', ;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    line-height: 84px;
    background: linear-gradient(90.63deg, #556CE3 -2.54%, #508BC2 50.22%, #4393B5 110.13%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  #p1{
    position: absolute;
    width: 270px;
    height: 27px;
    left: 26px;
    top: 155px;
  
    font-family:'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 32px;
    text-align: center;
  
    color: #ffffff;
  }
  
  #p2{
    position: absolute;
    width: 299px;
    height: 27px;
    left: 7px;
    top: 192px;
  
    font-family:'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
  
    color: #6896A3;
  }
  
  #character{
    position: absolute;
    width: 107px;
    height: 96px;
    left: 100px;
    top: 279px;
  }
  
  #rectangle{
    position: absolute;
    width: 129px;
    height: 7px;
    left: 87px;
    top: 368px;
  
    background: #D9D9D9;
    border-radius: 50px;
    }
  
  #instagram{
    position: absolute;
    width: 47px;
    height: 43px;
    left: 5px;
    top: 583px;
    font-size: 10px;
  }
  
  #linkedin{
    position: absolute;
    width: 47px;
    height: 43px;
    left: 193px;
    top: 583px;
    font-size: 10px;
  }
  
  #github{
    position: absolute;
    width: 47px;
    height: 43px;
    left: 100px;
    top: 583px;
    font-size: 10px;
  }
  
  #whatsapp{
    position: absolute;
    width: 47px;
    height: 43px;
    left: 282px;
    top: 583px;
    font-size: 10px;
  }
 
  a:hover{
    color: white;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    height: 35px;
  }
  
  #whatsapp:hover{
    color: #22E15A;
  }
  
  #instagram:hover{
    color: #FC3793;
  }
  
  #github:hover{
    color: #689494;
  }
  
  #linkedin:hover{
    color: #2965AF;
  }
  
  footer{
    text-align: center;
    float: inline;
  
  }
  
  i{
    background: #08070B;
    border-radius: 10px;
  }
}

#principal_sobre{
  position: absolute;
  width: auto;
  height: auto;
  top: 136px;
  left: 137px;
}

#foto{
  position: absolute;
  width: 201px;
  height: 406px;
  left: 204px;
  top: 26px;
  border-radius: 40px;
}

#sobre_mim{
  position: absolute;
  width: 620px;
  height: 67px;
  left: 205px;
  top: -63px;
  font-family: 'Kanit', ;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  line-height: 84px;
  background: linear-gradient(90.63deg, #91a3ff -2.54%, #3b00cb 50.22%, #4393B5 110.13%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#p3{
  position: absolute;
  width: 447px;
  height: 27px;
  left: 419px;
  top: 39px;

  font-family:'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  text-align: left;

  color: #ffffff;
}

#hard_skills{
  position: absolute;
  width:  183px;
  height: 67px;
  left: 203px;
  top: 463px;
  font-family: 'Kanit', ;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  line-height: 84px;
  background: linear-gradient(90.63deg, #556CE3 -2.54%, #508BC2 50.22%, #4393B5 110.13%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: linear-gradient(117deg, rgba(198,43,221,1) 0%, rgba(115,48,214,1) 49%, rgba(23,132,185,1) 100%);;
}

#footer_sobre{
  position: absolute;
  left: -36px;
  top: 456px;
}

#html{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 87px;
  height: 36px;
  background-color: rgb(29, 29, 29);
  border-radius: 5px;
  background: linear-gradient(117deg, rgba(198,43,221,1) 0%, rgba(115,48,214,1) 49%, rgba(23,132,185,1) 100%);
}

#css{
  position: absolute;
  left: 171px;
  top: 0px;
  width: 87px;
  height: 36px;
  background-color: rgb(29, 29, 29);
  border-radius: 5px;
  background: linear-gradient(117deg, rgba(198,43,221,1) 0%, rgba(115,48,214,1) 49%, rgba(23,132,185,1) 100%);
}

#javascript{
  position: absolute;
  left: 339px;
  top: 0px;
  width: 105px;
  height: 36px;
  background-color: rgb(29, 29, 29);
  border-radius: 5px;
  background: linear-gradient(117deg, rgba(198,43,221,1) 0%, rgba(115,48,214,1) 49%, rgba(23,132,185,1) 100%);
}

#python{
  position: absolute;
  left: 0px;
  top: 115px;
  width: 87px;
  height: 36px;
  background-color: rgb(29, 29, 29);
  border-radius: 5px;
  background: linear-gradient(117deg, rgba(198,43,221,1) 0%, rgba(115,48,214,1) 49%, rgba(23,132,185,1) 100%);
}

#php{
  position: absolute;
  left: 171px;
  top: 115px;
  width: 87px;
  height: 36px;
  background-color: rgb(29, 29, 29);
  border-radius: 5px;
  background: linear-gradient(117deg, rgba(198,43,221,1) 0%, rgba(115,48,214,1) 49%, rgba(23,132,185,1) 100%);
}

#div_hardskills{
  color: white;
  position: absolute;
  top: 582px;
  left: 241px;
  width: 87px;
  height: 36px;
  text-align: center;
}

